{% extends 'gallery/base.html' %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
{% if cart and items %}
<center>
<h2>Your Cart
<br>
Total price: ${{ cart.totalprice }}
<br>
<a href={% url 'gallery:checkout' %}>Checkout</a></h2>
<h4><a href={% url 'gallery:clear_cart' %}>Clear all Items</a></h4>
</center>
<div class="letterlist">
<ul>
{% for item in items %}
	<li><img src={{ item.pic.url }} height="200" width="300">
	<br>
	Name: {{ item.name }}
	<br>
	Price: ${{ item.cost }}
	<br>
	{{ item.desc }}
	<br>
	<a href={% url 'gallery:remove_item' item.id %}>Remove Item</a>
	</li>
{% endfor %}
</ul>
</div>
{% else %}
<h1>No Items</h1>
{% endif %}
{% endblock %}