{% extends 'gallery/base.html' %}
{% block title %}
Buy shit here
{% endblock %}

{% block content %}
<center>
<h1>Online Shop</h1>
<form action="{% url 'gallery:search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
<h3>
<a href={% url 'gallery:upload' %}>Sell an Item</a><br />
<a href={% url 'logout' %}>Sign out</a><br />
<a href={% url 'gallery:view_cart' %}>Cart</a><br>
<a href={% url 'gallery:sellerList' %}>Your Listings</a></h3>
<h3>Signed in as {{ user.username }}</h3>
{% if user.is_staff %}
<p><a href="/admin/" target="_blank">Admin Page</a></p>
{% endif %}
</center>
{% if item_list %}
{% for item in item_list %}
<ul>
	<li><img src={{ item.pic.url }} height="200" width="300"></li>
    <li>Name: <a href={{ item.id }}>{{ item.name }}</a></li>
	<li>Description: {{ item.desc }}</li>
	<li>Price: ${{ item.cost }}</li>
	<li><a href={% url 'gallery:add_to_cart' item.id %}>Add to Cart</a></li>
</ul>
{% endfor %}
{% else %}
<p>No Items</p>
{% endif %}
{% endblock %}