{% extends 'gallery/base.html' %}
{% block title %}
Buy shit here
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<center>
<h1>Please sign in <a href={% url 'login' %}>here</a> to view the gallery.</h1>
</center>
{% else %}
<center>
<h1>Buy shit here
<br />
<a href={% url 'gallery:upload' %}>Sell an Item</a><br />
<a href={% url 'logout' %}>Sign out</a></h1>
</center>
{% if item_list %}
{% for item in item_list %}
<ul>
	<img src={{ item.pic.url }} height="200" width="300">
    <li>Name: <a href={{ item.id }}>{{ item.name }}</a></li>
	<li>Description: {{ item.desc }}</li>
	<li>Price: ${{ item.cost }}</li>
</ul>
{% endfor %}
{% else %}
<p>No Items</p>
{% endif %}
{% endif %}
{% endblock %}