{% extends 'gallery/base.html' %}
{% block title %}
Online Shop
{% endblock %}

{% block content %}
<center>
<h1>Online Shop</h1>
<form action="{% url 'gallery:search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
<h3>Signed in as {{ user.username }}</h3>
<p>Check out the <a href="https://github.com/nimbusskye/ecommerce" target="_blank">GitHub Page</a></p>
{% if user.is_staff %}
<p><a href="/admin/" target="_blank">Admin Page</a></p>
{% endif %}
</center>
{% if item_list %}
<div class="letterlist">
<ul>
{% for item in item_list %}
	<li><img src={{ item.pic.url }} height="200" width="300">
	<br>
	Name: <a href={{ item.id }}>{{ item.name }}</a>
	<br>
	Price: ${{ item.cost }}
	<br>
	<a href={% url 'gallery:add_to_cart' item.id %}>Add to Cart</a>
	</li>
{% endfor %}
</ul>
</div>
{% else %}
<p>No Items</p>
{% endif %}
{% endblock %}